<footer class="footer">
	<hr>
	<small>
		<a href="https://recipehunter-f2f.herokuapp.com/">RecipeHunter</a> by 
    	<a href="https://ayushexploring.github.io" target="_blank">Ayush Verma</a>
	</small>
</footer>
<br>